DATABASE_URL=postgresql://app:app@localhost:5432/app
DATABASE_ASYNC_URL=postgresql+asyncpg://app:app@localhost:5432/app

ENVIRONMENT=LOCAL

CORS_HEADERS=["*"]
CORS_ORIGINS=["http://localhost:3000"]

SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT_URL=
AWS_S3_BUCKET_NAME=
REDIS_URL=redis://localhost:6379/0
